.text-center {
    font-family: 'Racing Sans One';
    text-shadow: 2px 2px 2px #888;
}

img.single {
    border-radius: 25%;
    width: 40%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

li.nav-item {
    font-size: 13px;
    background-color: #77b255;
    margin-right: 2px;
    margin-left: 2px;
}

button.snipcart-add-item {
  border-radius: 5%;
  margin-left: 10px;
  background-color: #77b255; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

