<h1>{{ .Title }}</h1>
<p>
    <span class="product-compare-price"style="text-decoration: line-through">{{ .Params.comparePrice }}</span>
    <span class="product-actual-price">$ {{ .Params.actualPrice }} USD</span>
    <span class="product-not-in-stock" class="font-weight-bold" {{ if .Params.inStock }} style="display:none;" {{end}}>— Sold Out</span>
    {{ if .Params.inStock }} 
    <button
          class="snipcart-add-item"
          data-item-id="{{ .URL }}"
          data-item-name="{{ .Title }}"
          data-item-price="{{ .Params.actualPrice }}"
          data-item-url="{{ .Permalink }}"
          {{ with .Params.description }}
          data-item-description="{{ . }}"
          {{ end }}
          data-item-weight="{{ .Params.weight }}"
          data-item-image="{{ .Params.thumbnailImage | absURL }}"
      >
      Add to Cart
      </button>
    {{end}}
</p>
<p>
    {{ range $index, $element := .Params.options }}
    <span>{{ $index | humanize }}</span>
    <select class="select-{{ $index }}">
       {{ range $element  }}
        <option>{{ . }}</option>
      {{ end }}
    </select>
    {{ end }}
</p>
<script>
    var productActualPrice  = {{ .Params.actualPrice }}
    var productComparePrice  = {{ .Params.comparePrice }}
    var productInStock = {{ .Params.inStock }}
    var productVariants = JSON.parse({{ .Params.variants | jsonify }})
</script>

