<div class="container">
  <nav class="navbar navbar-expand navbar-light justify-content-center">
    <ul class="navbar-nav bg-light">
        <li class="nav-item">
            <a class="nav-link" href="{{ "products/" | absURL }}">Home</a>
        </li>
        {{ range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
        <li class="nav-item">
            <a class="nav-link" href="{{ .Permalink }}">{{ .Title | title }}</a>
        </li>
        {{ end }}
        <li class="nav-item">
            <a class="snipcart-checkout nav-link" href="#">View Cart</a>
        </li>
    </ul>
  </nav>
</div>
